<!DOCTYPE html>
<html lang="it" lang="it-it">
<head>
   <meta charset="utf-8" >
   <title>{{ page.title }}</title>
   <meta name="author" content="GT Games">

   <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/style.less" type="text/less" media="screen, projection">
   <script src="/js/less.js" type="text/javascript"></script>
</head>
<body>
  <div class="title">
    <a href="/">GTGames</a>
    <a class="extra" href="/">home</a>
  </div>
  <div class="site">
    {{ content }}
  </div>
  <footer>
    <div class="contact">
      <p>Giuseppe Tazzi - GTGames.it<br /><a href="mailto:info@gtgames.it">info@gtgames.it</a></p>
      <p>
        <a href="http://github.com/gtgames/">github.com/gtgames</a><br />
        <a href="http://twitter.com/gtgames/">twitter.com/gtgames</a><br />
        <a href="http://flickr.com/photos/gtgames/">flickr.com/photos/gtgames</a>
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">atom</a>
      <a href="/rss.xml">rss</a>
    </div>
  </footer>

  <!-- Analyst -->
  <script type="text/javascript">
    (function(w,d) {
      w._analyst = '';
      var t = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
      t.type='text/javascript';t.async=true;t.id='analyst-tracker';
      t.src = 'http://analyst.machete.it/al.js';
      s.parentNode.insertBefore(t, s);
    })(window,document);
  </script>
  <!-- Analyst end -->
</body>
</html>
