<!DOCTYPE html>
<html lang="it" lang="it-it">
<head>
   <meta charset="utf-8" >
   <title>{{ page.title }}</title>
   <meta name="author" content="GT Games">

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css">

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">GTGames</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Giuseppe Tazzi - GTGames.it<br />
        info@gtgames.it
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/gtgames/">github.com/gtgames</a><br />
        <a href="http://twitter.com/gtgames/">twitter.com/gtgames</a><br />
        <a href="http://flickr.com/photos/gtgames/">flickr.com/photos/gtgames</a>
      </p>
    </div>
    <div class="rss">
    </div>
  </div>
</div>

<!-- Analyst -->
<script type="text/javascript">
  (function(w,d) {
    w._analyst = '';
    var t = d.createElement('script'),
        s = d.getElementsByTagName('script')[0];
    t.type='text/javascript';t.async=true;t.id='analyst-tracker';
    t.src = 'http://analyst.machete.it/al.js';
    s.parentNode.insertBefore(t, s);
  })(window,document);
</script>
<!-- Analyst end -->

</body>
</html>
